@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
	background-color: white;
	font-family: "open sans";
}
h1{
	color: green;
	text-align: center;

}
#conteiner{
	text-align: center;
}
nav#menu{
	display: block; /* Seja exibido como bloco*/
	width: 90%;
	position: center;

	}

	nav#menu ul{
		list-style: none; /* Sumir com bolinhas (marcadores) */
		text-transform: uppercase; /* Maiusculas */
		position: center ; /* Para passar por cima dos documentos, livre */
		text-align: center;

	}
	nav#menu li{
		display: block;
		background-color: green;
		padding: 18px 31px;/* Espaço entre eles, dentro do objeto */
		margin:2px; /* Espaço entre eles, fora do objeto */
	}
	nav#menu li:hover{
		background-color: black;
	}
	nav#menu a{
		color:white;
		font-size: 0.8em;
		text-decoration: none; /* Tirar o sublinhado */

	}
	nav#menu a:hover{ /* Muda cor quando passar o mouse*/
		color:#ffffff;
	}
form{
	background-color: white;
	font-family: "open sans";
	color: green;
	text-align: center;
}

#camera {
	width: 100%;
}

/*#camera video {
	transform: scaleX(-1);
}*/

.tabela {
	border: 1px solid #cbcbcb;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 1.6;
	width: 90%;
}

.tabela thead {
	background-color: #e0e0e0;
	color: #000;
	text-align: left;
	vertical-align: bottom;
}

.tabela th, td {
	border-left: 1px solid #cbcbcb;
	border-width: 0 0 0 1px;
	padding: 0.5em 1em;
}

.tabela td {
	background-color: transparent;
}

.linkatividade {
	width: 95%;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding: 7px;
}

.linkatividade:nth-child(even) {
		background-color: #f0f9e0;
}
